label {
    display: block;
}

textarea,
input {
    width: 100%;
    height: 1.5rem;
    background: rgb(207, 218, 233);
    border: none;
    margin-bottom: 10px;
}

textarea {
    white-space: pre-wrap;
    height: 2rem;
}